* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 80%;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
